@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;500&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

p, h3 {
  margin: 0;
  padding: 0
}

.container-search-form {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row-search-form {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003459;
  padding: 10px;
}

.card {
  background-color: white;
  width: 15rem;
  min-height: 60px;
  box-shadow: 0 3px 0 goldenrod;
}

.input-search {
  border: none;
  width: 18rem;
  outline: none;
  padding: 20px 5px;
  margin-top: 10px;
}

h3 {
  color: darkorange;
  padding-bottom: 5px;
  font-size: medium;
}

p {
  font-size: small;
}